In [1]:
import pandas as pd
file_path =                                '강수량.csv'
data = pd.read_csv(file_path)

transformed_data = data.melt(id_vars=['행정구역별'], var_name='연도', value_name='강수량')

output_file_path = '강수량_변환.csv'
transformed_data.to_csv(output_file_path, index=False, encoding='utf-8-sig')

print(f"변환된 데이터가 {output_file_path}에 저장되었습니다.")

변환된 데이터가 강수량_변환.csv에 저장되었습니다.

In [3]:
import pandas as pd
file_path =                                '기온.csv'
data = pd.read_csv(file_path)

transformed_data = data.melt(id_vars=['행정구역별(1)'], var_name='연도', value_name='기온')

output_file_path = '기온_변환.csv'
transformed_data.to_csv(output_file_path, index=False, encoding='utf-8-sig')

print(f"변환된 데이터가 {output_file_path}에 저장되었습니다.")

변환된 데이터가 기온_변환.csv에 저장되었습니다.

In [5]:
import pandas as pd

# CSV 파일 읽기
file_path = '기온_변환.csv'
data = pd.read_csv(file_path)

# 결측값 처리: 세종특별자치시의 기온이 결측치인 경우 대전광역시 값으로 채움
for year in data['연도'].unique():
    # 세종특별자치시의 결측값 확인
    condition = (data['행정구역별(1)'] == '세종특별자치시') & (data['연도'] == year) & (data['기온'] == '-')
    if condition.any():
        # 대전광역시의 해당 연도 기온 값 가져오기
        daejeon_value = data.loc[(data['행정구역별(1)'] == '대전광역시') & (data['연도'] == year), '기온'].values[0]
        # 세종특별자치시의 결측값을 대전광역시 값으로 채움
        data.loc[condition, '기온'] = daejeon_value

# 기온 데이터를 float로 변환
data['기온'] = data['기온'].astype(float)

# 결과 저장
output_file_path = '기온_변환_결측치처리.csv'
data.to_csv(output_file_path, index=False, encoding='utf-8-sig')

print(f"결측값이 처리된 데이터가 {output_file_path}에 저장되었습니다.")

결측값이 처리된 데이터가 기온_변환_결측치처리.csv에 저장되었습니다.

In [9]:
import pandas as pd
data = pd.read_csv('일기일수.csv')

data = data.iloc[:2]

output_file_path = '일기일수_수정.csv'
data.to_csv(output_file_path, index=False, encoding='utf-8-sig')

print(f"수정된 데이터가 {output_file_path}에 저장되었습니다.")

수정된 데이터가 일기일수_수정.csv에 저장되었습니다.

In [12]:
import pandas as pd

df = pd.read_csv('미곡생산량_백미.csv')

df.head()

,시도별,2015,2015.1,2015.2,2015.3,2015.4,2015.5,2015.6,2015.7,2016,...,2023.6,2023.7,2024,2024.1,2024.2,2024.3,2024.4,2024.5,2024.6,2024.7
0,시도별,합계:면적 (ha),합계:생산량 (톤),논벼:면적 (ha),논벼:10a당 생산량 (kg),논벼:생산량 (톤),밭벼:면적 (ha),밭벼:10a당 생산량 (kg),밭벼:생산량 (톤),합계:면적 (ha),...,밭벼:10a당 생산량 (kg),밭벼:생산량 (톤),합계:면적 (ha),합계:생산량 (톤),논벼:면적 (ha),논벼:10a당 생산량 (kg),논벼:생산량 (톤),밭벼:면적 (ha),밭벼:10a당 생산량 (kg),밭벼:생산량 (톤)
1,계,799344,4210475,797957,527,4206741,1387,269,3734,778734,...,227,317,697713,3488140,697684,500,3488081,29,206,60
2,서울특별시,307,1531,307,499,1531,0,0,0,123,...,0,0,184,894,184,485,894,0,0,0
3,부산광역시,2596,13376,2596,515,13376,0,0,0,2608,...,0,0,1940,8554,1940,441,8554,0,0,0
4,대구광역시,2843,14529,2843,511,14529,0,0,0,2956,...,0,0,5196,25355,5196,488,25355,0,0,0

In [13]:
import pandas as pd

# CSV 파일 읽기
file_path = '미곡생산량_백미.csv'
df = pd.read_csv(file_path, header=1)  # 2행(0-based index 1)을 헤더로 설정

# 2행 값이 '합계:생산량 (톤)'과 '논벼:10a당 생산량 (kg)'인 열만 선택
columns_to_keep = ['합계:생산량 (톤)', '논벼:10a당 생산량 (kg)']
df = df[columns_to_keep]

# 수정된 데이터 저장
output_file_path = '미곡생산량_수정.csv'
df.to_csv(output_file_path, index=False, encoding='utf-8-sig')

print(f"필요한 열만 남긴 데이터가 {output_file_path}에 저장되었습니다.")

필요한 열만 남긴 데이터가 미곡생산량_수정.csv에 저장되었습니다.

-----------------------------

사과

In [39]:
import pandas as pd

df = pd.read_csv('과실생산량.csv')
new_df = pd.DataFrame()
new_df[0] = df.iloc[:,0]

for i in range(339):

    if df.iloc[0,i] == '사과:생산량 (톤)':
        new_df[df.columns[i]] = df.iloc[:, i]

new_df.to_csv('과실사과.csv', index=False, encoding='utf-8-sig')
print("새로운 데이터프레임이 저장되었습니다.")

new_df.head()

새로운 데이터프레임이 저장되었습니다.

,0,2015.4,2016.4,2017.4,2018.4,2019.4,2020.4,2021.4,2022.4,2023.4,2024.4
0,시도별,사과:생산량 (톤),사과:생산량 (톤),사과:생산량 (톤),사과:생산량 (톤),사과:생산량 (톤),사과:생산량 (톤),사과:생산량 (톤),사과:생산량 (톤),사과:생산량 (톤),사과:생산량 (톤)
1,계,582846,576369,545349,475303,535324,422115,515931,566041,394428,460088
2,서울특별시,0,0,0,0,0,0,0,0,0,0
3,부산광역시,27,89,13,15,55,28,45,49,108,146
4,대구광역시,1548,1627,1322,509,378,647,752,990,641,4671

In [41]:
import pandas as pd

df = pd.read_csv('과실생산량.csv')
new_df = pd.DataFrame()
new_df[0] = df.iloc[:,0]

for i in range(339):

    if df.iloc[0,i] == '사과:10a당 생산량 (kg)':
        new_df[df.columns[i]] = df.iloc[:, i]

new_df.to_csv('과실사과퍼당.csv', index=False, encoding='utf-8-sig')
print("새로운 데이터프레임이 저장되었습니다.")
new_df.head()

새로운 데이터프레임이 저장되었습니다.

,0,2015.3,2016.3,2017.3,2018.3,2019.3,2020.3,2021.3,2022.3,2023.3,2024.3
0,시도별,사과:10a당 생산량 (kg),사과:10a당 생산량 (kg),사과:10a당 생산량 (kg),사과:10a당 생산량 (kg),사과:10a당 생산량 (kg),사과:10a당 생산량 (kg),사과:10a당 생산량 (kg),사과:10a당 생산량 (kg),사과:10a당 생산량 (kg),사과:10a당 생산량 (kg)
1,계,1843,1731,1623,1430,1624,1336,1502,1636,1167,1381
2,서울특별시,0,0,327,0,0,0,663,206,266,102
3,부산광역시,2660,1479,464,303,787,398,440,429,925,1486
4,대구광역시,2345,2009,1620,913,725,1244,946,1312,748,1131

---------------------

감귤

In [33]:
import pandas as pd

df = pd.read_csv('과실생산량.csv')
new_df = pd.DataFrame()
new_df[0] = df.iloc[:,0]

for i in range(339):

    if df.iloc[0,i] == '감귤:생산량 (톤)':
        new_df[df.columns[i]] = df.iloc[:, i]

new_df.to_csv('과실감귤.csv', index=False, encoding='utf-8-sig')
print("새로운 데이터프레임이 저장되었습니다.")

new_df.head()

새로운 데이터프레임이 저장되었습니다.

,0,2015.16,2016.16,2017.16,2018.16,2019.16,2020.16,2021.16,2022.16,2023.16,2024.16
0,시도별,감귤:생산량 (톤),감귤:생산량 (톤),감귤:생산량 (톤),감귤:생산량 (톤),감귤:생산량 (톤),감귤:생산량 (톤),감귤:생산량 (톤),감귤:생산량 (톤),감귤:생산량 (톤),감귤:생산량 (톤)
1,계,639892,609832,597294,621154,629785,658859,635835,610454,607766,-
2,서울특별시,0,0,0,0,0,0,0,0,0,-
3,부산광역시,84,0,4,0,1,0,0,0,0,-
4,대구광역시,0,0,0,0,0,0,0,0,0,-

In [36]:
import pandas as pd

df = pd.read_csv('과실생산량.csv')
new_df = pd.DataFrame()
new_df[0] = df.iloc[:,0]

for i in range(339):

    if df.iloc[0,i] == '감귤:10a당 생산량 (kg)':
        new_df[df.columns[i]] = df.iloc[:, i]

new_df.to_csv('과실감귤퍼당.csv', index=False, encoding='utf-8-sig')
print("새로운 데이터프레임이 저장되었습니다.")

new_df.head()

새로운 데이터프레임이 저장되었습니다.

,0,2015.15,2016.15,2017.15,2018.15,2019.15,2020.15,2021.15,2022.15,2023.15,2024.15
0,시도별,감귤:10a당 생산량 (kg),감귤:10a당 생산량 (kg),감귤:10a당 생산량 (kg),감귤:10a당 생산량 (kg),감귤:10a당 생산량 (kg),감귤:10a당 생산량 (kg),감귤:10a당 생산량 (kg),감귤:10a당 생산량 (kg),감귤:10a당 생산량 (kg),감귤:10a당 생산량 (kg)
1,계,3009,2813,2767,2879,2974,3121,2886,2759,2749,-
2,서울특별시,0,0,0,0,0,0,0,0,0,-
3,부산광역시,1680,0,488,0,1170,0,996,0,0,-
4,대구광역시,0,0,0,0,0,0,0,0,0,-

--------------------------------

년도데이터 수정

In [45]:
import pandas as pd

path = '과실감귤.csv'

df = pd.read_csv(path, dtype=str)

df.columns = [str(column).split('.')[0] for column in df.columns]

output_file_path = path
df.to_csv(output_file_path, index=False, encoding='utf-8-sig')

print(f"수정된 데이터가 {output_file_path}에 저장되었습니다.")

df.head()

수정된 데이터가 과실감귤.csv에 저장되었습니다.

,0,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,시도별,감귤:생산량 (톤),감귤:생산량 (톤),감귤:생산량 (톤),감귤:생산량 (톤),감귤:생산량 (톤),감귤:생산량 (톤),감귤:생산량 (톤),감귤:생산량 (톤),감귤:생산량 (톤),감귤:생산량 (톤)
1,계,639892,609832,597294,621154,629785,658859,635835,610454,607766,-
2,서울특별시,0,0,0,0,0,0,0,0,0,-
3,부산광역시,84,0,4,0,1,0,0,0,0,-
4,대구광역시,0,0,0,0,0,0,0,0,0,-

------------------------------------

In [47]:
import pandas as pd

df = pd.read_csv('기타기상데이터.csv', encoding='euc-kr')

df.head()

,지점,지점명,일시,평균최저기온(°C),평균최고기온(°C),평균 해면기압(hPa),평균 상대습도(%),합계 일조시간(hr),평균 풍속(m/s),합계 대형 증발량(mm)
0,90,속초,2015,8.8,16.6,1015.7,67.5,2413.6,2.1,NaN
1,90,속초,2016,9.0,16.8,1015.5,68.4,2205.3,1.9,NaN
2,90,속초,2017,8.9,17.4,1015.1,61.6,2497.9,1.8,NaN
3,90,속초,2018,8.5,16.9,1015.8,61.7,2421.1,1.9,NaN
4,90,속초,2019,9.6,18.0,1015.2,60.6,2543.1,1.9,NaN